* {
  font-family: 'Rubik', sans-serif;
}


body, html {
    margin: 0;
    padding: 0;
}

button:focus {
  outline:0;
}

input {
  border:none;
}

.header {
  background-color:#009688;
  box-shadow: 0px 1px 2px #aaa;
  display: flex;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.header__site-name {
  margin-right:10px;
  font-size: 1.3em;
}

.header__collector {
  margin:0px 5px;
  font-size: 1.1em;
}

.header__species {
  margin:0px 5px;
  font-size: 1.1em;
}

.header__date-range {
  margin:0px 5px;
  flex-grow: 1;
  font-size: 1.1em;
}


.btn {
    border: none;
}

.btn:focus {
  outline: 0;
}

.btn-upload {
  cursor: pointer;
  background-color:#009688;
  padding: 5px 20px;
}

.btn-site-select {
  padding: 0px 10px 0px 20px;
  cursor: pointer;
  background-color:#009688;
}

.container {
  display: flex;
  position: relative;
  align-items: stretch;
  height: calc(100vh - 50px);
}


.buttons {
  display: inline;
}

.btn-site-close{
  cursor: pointer;
  position: relative;
  top:10px;
  width:50px;
  border: none;
  text-align:center;
  color:#444;
  background-color:#fff;
}

.btn-delete-db{
  cursor: pointer;
  position: relative;
  top:10px;
  float:right;
  width:50px;
  border: none;
  text-align:center;
  color:#444;
  background-color:#fff;
}

.site-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
}

.site-nav--visible {
  pointer-events: auto;
}

.site-nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s ease-in;
}

.site-nav__title {
  width:100%;
  text-align: center;
}

.site-nav__container {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: #FFF;
  height: 100%;
  box-shadow: 2px 2px 4px #555;
  transform: translateX(-102%);
  display: flex;
  flex-direction: column;
  will-change: transform;
  transition: transform 0.6s ease-in-out;
}

.site-nav--visible::before {
  opacity: 0.7;
}

.site-nav--visible .site-nav__container {
  transform: none;
}

.site-list-title {
  margin: 0 auto;
}

.site-list {
  position: relative;
  list-style: none;
  margin: 0px;
  padding: 15px 0px;
}

.site-list__item {
  display: flex;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  margin:0 auto;
  padding-left:25px;
}

.site-list__item:hover {
  background-color:#ddd;
}

.site-delete-btn{
  padding-right: 10px;
  padding-top: 5px;
  margin-left: auto;
  visibility: hidden;
}

.site-list__item:hover .site-delete-btn{
  visibility: visible;
}

.site-list__item--active{
  background-color:#ccc;
}

.container__content {
  position: relative;
  padding: 0 0 0 50px;
  flex-basis: 80%;
}

.core-chart {
  padding: 15px;
}

.core-chart > svg {
  width: 90%;
  height: 200px;
}

.ring {
  fill: #de9972;
  stroke: #a23111;
  stroke-width: 1px;
}

.core-tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  font-size: 12px;
  background: white;
  border: 0px;
  box-shadow: 1px 1px 3px #333;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.2s ease-in;
}

.core-tooltip--visible {
  opacity: 0.93;
}

.time-series > svg {
  width: 90%;
  height: 300px;
}

.axis {
  stroke: #777;
  stroke-width: 2px;
}

.tick {
  stroke: #777;
  stroke-width: 1px;
}

.series-line {
  stroke: #000;
  stroke-width: 1px;
  fill:none;
}

.links {
  padding: 0px 20px 10px 10px;
  position: absolute;
  bottom:0;
  right:0;
}

.container__samples {
  box-shadow: -1px 0px 2px #bbb;
  flex-basis: 20%;
}

.sample-title {
  font-size:1.3em;
  text-align: center;
  margin-right:10px;
  width:100%;
  height:36px;
  line-height: 36px;
  background-color:#bbb;
}

.sample-list {
  width:100%;
  height:calc(100% - 36px);
  background-color:#eee;
  padding:0;
  margin:0;
  list-style: none;
  overflow-y:scroll;
}

.sample-list__item {
  cursor: pointer;
  width:100%;
  height:36px;
  line-height:36px;
  text-align:center;
  background-color:#eee;
}

.sample-list__item--active {
  background-color:#cdcdcd;
}

.sample-list__item:hover {
  background-color:#dedede;
}


.sample-list__item--active:hover {
  background-color:#cdcdcd;
}

.modal {
  visibility: hidden;
  display: flex;
  top:0;
  left:0;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:100vh;
}

.modal__background {
  background-color:#333;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-out;
}

.modal--visible {
  visibility: visible;
}

.modal__background--visible {
  display: inherit;
  opacity: 0.7;
}

.modal__body {
  display: inherit;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px 5px #333;
  opacity: 0;
  z-index: 2;
  min-width: 400px;
  min-height: 150px;
  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}

.modal__body--visible {
  opacity: 1;
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  top:5px;
  right:5px;
  margin:5px;
  border: none;
  text-align:center;
  color:#444;
  background-color:#FFF;
}

.modal-close-btn:focus {
  outline:0;
}

.modal-title {
  text-align: center;
}

.upload-form {
  margin:50px;
}

.upload-form__file-input {
  width: 1px; 
  visibility: hidden;
}

.upload-form__add {
  cursor: pointer;
  padding:10px 15px;
  background-color: #009688;
  box-shadow: 1px 1px 3px #777;
  font-size: 1.2rem;
}


.upload-form__add:hover {
  box-shadow: 2px 1px 3px #777;
}

.upload-form__add:focus {
  outline:0;
}

.upload-form__status {
  opacity:0;

  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}

.upload-form__status--success {
  color:green;
}

.upload-form__status--success::after {
  font-size: 2em;
  content: '\2713';
}

.upload-form__status--failure {
  color:red;
}

.upload-form__status--visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.about-link {
  color:#009688;
}

.github-link {
  color:#009688;
}