* {
  font-family: 'Rubik', sans-serif;
}


body, html {
    margin: 0;
    padding: 0;
}



.header {
  background-color:#009688;
  display: flex;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.header__site-name {
  margin-right:10px;
  font-size: 1.3em;
}

.header__collector {
  margin:0px 5px;
  font-size: 1.1em;
}

.header__species {
  margin:0px 5px;
  font-size: 1.1em;
}

.header__date-range {
  margin:0px 5px;
  flex-grow: 1;
  font-size: 1.1em;
}


.btn {
    border: none;
}

.btn:focus {
  outline: 0;
}

.btn-upload {
  cursor: pointer;
  background-color:#009688;
  padding: 5px 20px;
}

.btn-site-select {
  padding: 0px 10px 0px 20px;
  cursor: pointer;
  background-color:#009688;
}

.container {
  display: flex;
  position: relative;
  align-items: stretch;
  height: calc(100vh - 50px);
}

.container__content {
  flex-basis: 80%;
}


.core-chart {
  padding: 15px;
}

.core-chart > svg {
  width: 90%;
  height: 200px;
}

.ring {
  fill: #c49e6d;
  stroke: #82633b;
  stroke-width: 1px;
}


.core-tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.2s ease-in;
}

.core-tooltip--visible {
  opacity: 0.95;
}

.time-series > svg {
  width: 90%;
  height: 300px;
}

.axis {
  stroke: #777;
  stroke-width: 2px;
}

.tick {
  stroke: #777;
  stroke-width: 1px;
}

.series-line {
  stroke: #000;
  stroke-width: 1px;
  fill:none;
}

.links {
  padding: 0px 0px 10px 10px;
  position: absolute;
  bottom:0;
  left:0;
}

.container__samples {
  flex-basis: 20%;
}

.sample-title {
  font-size:1.3em;
  text-align: center;
  margin-right:10px;
  width:100%;
  height:36px;
  line-height: 36px;
  background-color:#bbb;
}

.sample-list {
  width:100%;
  height:calc(100% - 36px);
  background-color:#eee;
  padding:0;
  margin:0;
  list-style: none;
  overflow-y:scroll;
}

.sample-list__item {
  cursor: pointer;
  width:100%;
  height:36px;
  line-height:36px;
  text-align:center;
  background-color:#eee;
}

.sample-list__item:hover {
  background-color:#dedede;
}

.modal {
  visibility: hidden;
  display: flex;
  top:0;
  left:0;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:100vh;
}

.modal__background {
  background-color:#333;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity .3s ease-out;
}

.modal--visible {
  visibility: visible;
}

.modal__background--visible {
  display: inherit;
  opacity: 0.9;
}

.modal__body {
  display: inherit;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px 4px #000;
  opacity: 0;
  z-index: 2;
  min-width: 200px;
  min-height: 200px;
  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}

.modal__body--visible {
  opacity: 1;
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  top:5px;
  right:5px;
  margin:5px;
  border: none;
  text-align:center;
  color:#444;

}

.modal-close-btn:focus {
  outline:0;
}

.modal-title {
  text-align: center;
}

.upload-form {
  margin:50px;
}

.upload-form__file-input {
  padding:10px 15px;
}

.upload-form__submit {
  padding:10px 15px;
  background-color: #009688;
  border-radius: 3px;
  font-size: 1.2rem;
}

.upload-form__submit:focus {
  outline:0;
}

.upload-form__status {
  opacity:0;

  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}

.upload-form__status--success {
  color:green;
}

.upload-form__status--success::after {
  font-size: 2em;
  content: '\2713';
}

.upload-form__status--failure {
  color:red;
}

.upload-form__status--visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.github-link {
  color:#009688;
}